@import 'flexbox';
@import 'spacing';
@import 'colors';
@import 'responsive';

.icon-box {
    @extend .flex-row;
    @extend .flex-cc;
    svg {
        width: auto;
        height: 95%;
        opacity: $high-emphasis;
    }
}

.tab {
    @include mobile-screen {
        $edge-length: 4rem;
        height: $edge-length;
        width: $edge-length;
    }
    @include desktop-screen {
        $edge-length: 4.5rem;
        height: $edge-length;
        width: $edge-length;
    }
}

.side {
    $edge-length: 3rem;
    height: $edge-length;
    width: $edge-length;
}

.menu {
    $edge-length: 5rem;
    height: $edge-length;
    width: $edge-length;
}
