@import './responsive';

$directions: (row, column);

@each $direction in $directions {
    .flex-#{$direction} {
        display: flex;
        flex-direction: $direction;
    }

    .flex-mobile-#{$direction} {
        @include mobile-screen {
            display: flex;
            flex-direction: $direction;
        }
    }

    .flex-desktop-#{$direction} {
        @include desktop-screen {
            display: flex;
            flex-direction: $direction;
        }
    }
}

$justify-options: (flex-start, flex-end, center, space-between, space-around, space-evenly);

@each $justify-op in $justify-options {
    .justify-#{$justify-op} {
        justify-content: $justify-op !important;
    }

    .justify-mobile-#{$justify-op} {
        @include mobile-screen {
            justify-content: $justify-op !important;
        }
    }

    .justify-desktop-#{$justify-op} {
        @include desktop-screen {
            justify-content: $justify-op !important;
        }
    }
}

$align-options: (flex-start, flex-end, center, stretch, baseline);
@each $align-op in $align-options {
    .align-#{$align-op} {
        align-items: $align-op;
    }

    .align-mobile-#{$align-op} {
        @include mobile-screen {
            align-items: $align-op !important;
        }
    }

    .align-desktop-#{$align-op} {
        @include desktop-screen {
            align-items: $align-op !important;
        }
    }
}

.flex-cc {
    justify-content: center;
    align-items: center;
}

.flex-ss {
    justify-content: flex-start;
    align-items: flex-start;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}
