@import './responsive';
$sides: (top, left, bottom, right, vertical, horizontal);
$double-sides: (vertical: (top, bottom), horizontal: (left, right));

@mixin marpad-by-side($marpad, $side, $space) {
    @if map-has-key($double-sides, $side) {
        .#{str-slice($marpad, 0, 1)}-#{$side}-#{$space} {
            @each $sub-side in map-get($double-sides, $side) {
                #{$marpad}-#{$sub-side}: #{$space}rem !important;
            }
        }

        .#{str-slice($marpad, 0, 1)}-mobile-#{$side}-#{$space} {
            @include mobile-screen {
                @each $sub-side in map-get($double-sides, $side) {
                    #{$marpad}-#{$sub-side}: #{$space}rem !important;
                }
            }
        }

        .#{str-slice($marpad, 0, 1)}-desktop-#{$side}-#{$space} {
            @include desktop-screen {
                @each $sub-side in map-get($double-sides, $side) {
                    #{$marpad}-#{$sub-side}: #{$space}rem !important;
                }
            }
        }
    } @else {
        .#{str-slice($marpad, 0, 1)}-#{$side}-#{$space} {
            #{$marpad}-#{$side}: #{$space}rem !important;
        }

        .#{str-slice($marpad, 0, 1)}-mobile-#{$side}-#{$space} {
            @include mobile-screen {
                #{$marpad}-#{$side}: #{$space}rem !important;
            }
        }

        .#{str-slice($marpad, 0, 1)}-desktop-#{$side}-#{$space} {
            @include desktop-screen {
                #{$marpad}-#{$side}: #{$space}rem !important;
            }
        }
    }
}

@mixin marpad-around($marpad, $space) {
    .#{str-slice($marpad, 0, 1)}-#{$space} {
        #{$marpad}: #{$space}rem !important;
    }

    .#{str-slice($marpad, 0, 1)}-mobile-#{$space} {
        @include mobile-screen {
            #{$marpad}: #{$space}rem !important;
        }
    }

    .#{str-slice($marpad, 0, 1)}-desktop-#{$space} {
        @include desktop-screen {
            #{$marpad}: #{$space}rem !important;
        }
    }
}

@for $space from 0 through 8 {
    @each $marpad in (margin, padding) {
        @include marpad-around($marpad, $space);

        @each $side in $sides {
            @include marpad-by-side($marpad, $side, $space)
        }

    }
}

@each $side in $sides {
    .m-#{$side}-auto {
        margin-#{$side}: auto;
    }

    .m-mobile-#{$side}-auto {
        @include mobile-screen {
            margin-#{$side}: auto;
        }
    }

    .m-desktop-#{$side}-auto {
        @include desktop-screen {
            margin-#{$side}: auto;
        }
    }
}

.m-auto {
    margin: auto;
}
