@import './typography';
@import './spacing';
@import './colors';
@import './flexbox';

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $content-font-stack;
    background-color: $bg;
    color: $white;
}

a {
    color: $contrast-text;
    text-decoration: none;
}

// h /* 1...6 */
@for $i from 1 to 6 {
    h#{$i} {
        $cal-base: 6 - $i + 1;
        font-family: $header-font-stack;
        font-weight: bold;
        opacity: $high-emphasis;
    }
}

main {
    width: 100%;
    @include desktop-screen {
        width: 768px;
        max-width: 100rem;
    }
}

section[id] {
    margin-top: -8rem;
    padding-top: 8rem;
    @extend .p-mobile-horizontal-1;
    @extend .p-desktop-horizontal-2;
    h2 {
        text-align: center;
        text-decoration: underline;
        font-weight: 600;
        opacity: $high-emphasis;
        padding: 1rem;
        margin: 1rem;
        margin-top: 2rem;
        @include mobile-screen {
            font-size: 2.5rem;
        }
        @include desktop-screen {
            font-size: 4.8rem;
        }
    }
}
