@import './typography';
@import './spacing';
@import './colors';
@import './flexbox';

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: $content-font-stack;
    background-color: $bg;
    color: $white;
}

a {
    color: $contrast-text;
    text-decoration: none;
}

// h /* 1...6 */
@for $i from 1 to 6 {
    h#{$i} {
        $cal-base: 6 - $i + 1;
        font-family: $header-font-stack;
        font-size: #{$cal-base * 1.2}rem;
        font-weight: bold;
    }
}

main {
    width: 100%;
    @include desktop-screen {
        width: 768px;
        max-width: 100rem;
    }
}

section {
    margin-top: -8rem;
    padding-top: 8rem + 2rem;
    height: 120vh;
    h2 {
        text-align: center;
    }
}
