@import 'colors';
@import 'spacing';
@import 'typography';

$nav-height: 7.5rem;

%highlight {
    @extend .elevate-2;
    color: $primary;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $bg;
    nav {
        width: 100%;
        height: $nav-height;
    }
}

.website-brand {
    width: 100%;
    height: auto;
    max-width: 15rem;
    opacity: $high-emphasis;
}

.selected {
    @extend %highlight;
    .selected-bottom-bar {
        visibility: visible !important;
        background-color: $primary !important;
    }
}

.nav-tab {
    height: $nav-height;
    width: $nav-height;
    &:hover {
        @extend %highlight;
    }
    div.icon-box {
        @extend .m-top-auto;
    }
    .tab-desc {
        font-family: $open-sans-condensed;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.8rem;
    }
    .selected-bottom-bar {
        $bar-height: 0.26rem;
        border-top-left-radius: $bar-height;
        border-top-right-radius: $bar-height;
        width: 100%;
        height: $bar-height;
        visibility: hidden;
    }
}

.contacts-group > * {
    @extend .m-horizontal-1;
    &:hover {
        color: $primary;
    }
}